.chatContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  background-color: rgba(57, 82, 97, 0.686);
  padding-bottom: 50px;
  transition: 0.4s;
  height: 95vh;
}

.selectedContact {
  width: 100%;
  text-align: center;
  p,
  h2 {
    font-size: 21px;
    color: #3e73dd;
  }
}
.sendingMessageForm {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 28px;
  * {
    font-family: "Poppins";
  }
  input {
    width: 20%;
    background-color: #252222b4;

    font-weight: 455;
    color: #fff;
    border-radius: 1ex;
    padding: 3px 5px;
    margin-right: 7px;
  }
  button {
    font-weight: 555;
    font-size: 15px;
    padding: 2px;
    background-color: rgb(100, 189, 205);
    color: #222;
    border: none;
    outline: none;
    border-radius: 1ex;
  }
}
.errorMessage {
  width: 100%;
  text-align: center;
  font-weight: 555;
  p {
    color: rgb(14, 120, 181);
    font-size: 16px;
  }
}
#file {
  display: none;
}
.sendingImage {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #222222ec;
  .caption {
    input {
      width: 100%;
      margin-top: 10px;
      background-color: #3e73dd;
      &::placeholder {
        color: wheat;
      }
    }
  }
  .closeFileModal {
    margin-bottom: 5px;
    button {
      padding: 5px 8px;
      font-size: 17px;
    }
  }
  img {
    width: 100%;
    height: 70%;
    object-fit: contain;
    object-position: center;
  }
  .uplaod {
    margin-top: 30px;
  }
}
