body {
  background-color: #222;
  font-family: "Poppins";
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1em;
  color: royalblue;
}
input {
  border: none;
  outline: none;
}
